.james-domain-alias-dialog.modal.full-screen(ng-init='$ctrl.getDomainAliases()')
  form(name="form")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title #{__('Aliases of %s', '{{::$ctrl.domain.name}}')}

        .modal-body.overflow-none
          .text-center(
            ng-if="$ctrl.status === $ctrl.getDomainAliasesStatus.loading",
            openpaas-logo-spinner,
            spinner-start-active='1',
            spinner-size='0.5'
          )

          .domain-aliases(ng-if="$ctrl.status === 'loaded'")
            james-domain-alias-form(domain="$ctrl.domain", aliases="$ctrl.aliases")
            div(ng-if="$ctrl.aliases.length")
              h5.m-l-10 #{__('Current aliases')}
              .domain-alias-list
                james-domain-alias-item(ng-repeat="alias in $ctrl.aliases" alias="alias", aliases="$ctrl.aliases" domain="$ctrl.domain")
            .message(ng-if="!$ctrl.aliases.length") #{__('No alias')}
          .message(ng-if="$ctrl.status === $ctrl.getDomainAliasesStatus.error") #{__('An error occurred while getting domain aliases, please try again!')}

        .modal-footer(ng-if="$ctrl.status === $ctrl.getDomainAliasesStatus.loaded")
          button.btn.btn-link(type="button", ng-click="$hide()")
            | #{__('Close')}

        .modal-footer(ng-if="$ctrl.status === $ctrl.getDomainAliasesStatus.error")
          button.btn.btn-primary.btn-ok(type="button", ng-click="$hide()")
            | #{__('OK')}
