.james-quota-domain-dialog.modal.full-screen(ng-init='$ctrl.getDomainQuota()')
  form(name="form", esn-submit="$hide(); $ctrl.updateDomainQuota();")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-label="Close", ng-click="$hide()")
            span(aria-hidden="true") &times;
          h4.modal-title #{__('Set email quota for %s', '{{::$ctrl.domain.name}}')}
          
        .modal-body.overflow-none
          .text-center(
            ng-if="$ctrl.status === $ctrl.getDomainQuotaStatus.loading",
            openpaas-logo-spinner,
            spinner-start-active='1',
            spinner-size='0.5'
          )
          
          span.helper-text(ng-if="$ctrl.status === 'loaded'")
            | #{__('Define the quota limit for each user. Leave the fields empty for no quota.')}
          james-quota-form(ng-if="$ctrl.status === $ctrl.getDomainQuotaStatus.loaded", quota="$ctrl.quota")
          .error-message(ng-if="$ctrl.status === $ctrl.getDomainQuotaStatus.error") #{__('An error occured while getting quota, please try again!')}
          
        .modal-footer(ng-if="$ctrl.status === $ctrl.getDomainQuotaStatus.loaded")
          button.btn.btn-link(type="button", ng-click="$hide()")
            | #{__('Cancel')}
          button.btn.btn-primary(type="submit", ng-disabled="form.$invalid || form.$pending")
            | #{__('Save')}
            
        .modal-footer(ng-if="$ctrl.status === $ctrl.getDomainQuotaStatus.error")    
          button.btn.btn-primary.btn-ok(type="button", ng-click="$hide()")
            | #{__('OK')}
